<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Convergence&family=Lato:wght@300;400;700;900&family=Mukta:wght@300;400;600;700;800&family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>TRASH ME DASHBOARD</title>
  </head>
  <body>
    <!--Nav bar-->
    <nav class="navbar-dashboard">
      <div class="elements-in-nav-dashboard">
        <!-- Company Logo -->
        <a href="http://localhost:3004/dashboard">
          <img
            class="company-logo-dashboard"
            src="/company-logo.png"
            alt="logo-pic"
        /></a>
        <!-- End of Company Logo -->
        <!-- links -->
        <a class="recycle-link-dash" href="http://localhost:3004/recycle">
          Recycle</a
        >
        <a
          class="disposal-link-dash"
          href="http://localhost:3004/disposal-service"
        >
          Disposal Service
        </a>
        <a class="donate-link-dash" href="http://localhost:3004/donate">
          Donate</a
        >
        <a class="shop-link-dash" href="http://localhost:3004/shop"> Shop</a>
        <!-- elements-in-nav-dashboard -->
      </div>

      <!-- Write to us Logo -->
      <a class="write-us-pic" href="http://localhost:3004/write-us">
        <img src="./envelope.png" alt="write-us-pic" />
        <!-- End of Write to us Logo  -->
      </a>
      <!-- profile pic Logo -->
      <a class="profile-pic" href="http://localhost:3004/dashboard">
        <img src="./buttercups.jpg" alt="profile-pic" />
        <!-- End of profile Logo  -->
      </a>

      <!-- end of nav bar -->
    </nav>
    <!-- Banners -->
    <div class="wrap-profile">
      <div class="banner-dash"></div>
      <div class="profile-details">
        <a class="profile-pic-dash" href="http://localhost:3004/dashboard">
          <img src="./buttercups.jpg" alt="profile-pic" />
        </a>
        <p class="username"><strong><%= userdata.name %></strong></p>
      </div>
    </div>
    <!-- End of Banners -->
  </body>
</html>
