    <!-- Footer -->
    <div class="footer">
      <div class="footer-wrapper">
        <!-- footer first column -->
        <div class="footer-first-column">
          <!-- Company Logo -->
          <img class="company-logo-2" src="/company-logo.png" alt="logo-pic" />
          <!-- End of Company Logo -->
          <p>To a more sustainable world</p>
          <p>
            3 Alpine Woods <br />
            Singapore 888888
          </p>
          <p>Follow us and keep updated</p>
          <!-- Add font awesome icons -->
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-twitter"></a>
          <!-- End of footer first column -->
        </div>

        <!-- footer second column -->
        <div class="footer-second-column">
          <p><strong>About</strong></p>
          <a href="#">About Us</a> <br />
          <a href="#">Locations</a>
          <!-- End of footer second column -->
        </div>

        <!-- footer third column -->
        <div class="footer-third-column">
          <p><strong>User</strong></p>
          <a href="#">What's New</a> <br />
          <a href="#">Recycle</a> <br />
          <a href="#">Shop</a>
          <!-- End of footer third column -->
        </div>

        <!-- footer fourth column -->
        <div class="footer-fourth-column">
          <p><strong>Enterprise</strong></p>
          <a href="#">Partner with us</a>
          <!-- End of footer fourth column -->
        </div>
        <!-- End of Footer wrapper-->
      </div>

      <!-- last bar -->
      <div class="footer-final">
        <a class="terms" href="#">Terms and policies</a>

        <div class="copyright">XXX 2022</div>
        <div class="app-store-stuff">
          <a href="#">
            <img class="google-play" src="/google-play.png" />
          </a>
          <a href="#">
            <img class="apple-store" src="/apple-store.jpg" />
          </a>
        </div>
        <!-- end of last bar -->
      </div>
      <!-- End of Footer -->
    </div>

    <!-- Add icon library for social media icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </body>
</html>
