<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>TRASH ME</title>
  </head>
  <body>
    <!--Nav bar-->
    <nav class="navbar">
      <div class="elements-in-nav">
        <!-- Menu -->
        <button class="dropbtn" onclick="myFunction()">
          <div class="menu-bar1"></div>
          <div class="menu-bar2"></div>
          <div class="menu-bar3"></div>
          Menu
        </button>
        <div class="dropdown-content" id="myDropdown">
          <button class="about" onclick="myFunction1()" href="">About</button>
          <button class="enterprise" onclick="myFunction2()" href="">
            Enterprise
          </button>
          <button class="user" onclick="myFunction3()" href="">User</button>
        </div>
        <!-- End of Menu -->
        <!-- Company Logo -->
        <img class="company-logo" src="/company-logo.png" alt="logo-pic" />
        <!-- End of Company Logo -->
        <!-- links -->
        <a class="login" href="http://localhost:3004/login"> Login </a>
        <a class="sign-up" href="http://localhost:3004/sign-up"> Sign-up </a>
        <a class="help-center" href="http://localhost:3004/help">
          Help Centre
        </a>
      </div>
      <!-- end of nav bar -->
    </nav>

    <script>
      /* When the user clicks on the button, 
      toggle between hiding and showing the dropdown content */
      function myFunction() {
        // adds and removes "show" class each time the dropdown menu button is clicked
        document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function (e) {
        // if the click does not match the class of "dropbtn" i.e., dropdown menu button, then
        // when dropbtn contains "show" class, removes it
        if (!e.target.matches(".dropbtn")) {
          const myDropdown = document.getElementById("myDropdown");
          if (myDropdown.classList.contains("show")) {
            myDropdown.classList.remove("show");
          }
        }
      };
    </script>

    <!--container for video-->
    <!-- video-container is necessary because I intend to cut the video's height -->
    <div class="video-container">
      <video
        src="/company-video4.mp4"
        type="video/mp4"
        class="myvideo"
        autoplay=""
        loop=""
        muted=""
      ></video>
      <div class="video-text-box">
        <h1>Recycle. Make your world a better place.</h1>
      </div>
    </div>
    <!--End of container for video-->

    <!-- Banners -->
    <div class="banners">
      <a class="banner-1" href="" role="button"> Read About Us</a>
      <a class="banner-2" href="" role="button"> Download App</a>
    </div>
    <!-- End of Banners -->

    <!-- Content Container -->
    <div class="content-container">
      <!-- Section 1 -->
      <section class="section-1">
        <div class="info">
          <h2>
            From recycling and disposal services to earning opportunities. We're
            an all-in-one platform.
          </h2>
        </div>
        <button class="recycle" onclick="myFunction1()" href="">Recycle</button>
        <button class="disposal" onclick="myFunction2()" href="">
          Disposal
        </button>
        <button class="re-sell" onclick="myFunction3()" href="">Re-Sell</button>
      </section>
      <!-- End of Section 1 -->

      <!-- First Panel -->
      <div class="first-panel">
        <!-- First Panel section-1-->
        <section class="first-panel-section-1">
          <!-- title-left -->
          <div class="title-left">
            <h2>Recycle</h2>
          </div>
          <!-- End of title-left -->
          <!-- details-right -->
          <div class="details-right">
            <div>
              <p>
                <strong>Collection</strong> <br /><br />We will collect all the
                items right at your doorstep.
              </p>
            </div>
            <div>
              <p>
                <strong>Processing Factories</strong> <br /><br />Items will be
                sorted and sent to respective processing plants.
              </p>
            </div>
            <div>
              <p>
                <strong>Re-purposed</strong> <br /><br />Processed materials
                will be repurposed.
              </p>
            </div>
          </div>
          <!-- End of details-right -->
        </section>
        <!-- End of First Panel section-1-->

        <!-- First Panel section-2-->
        <section class="first-panel-section-2">
          <!-- title-left -->
          <div class="title-left">
            <h2>Recycle</h2>
          </div>
          <!-- End of title-left -->
          <!-- details-right -->
          <div class="details-right">
            <div>
              <p>
                <strong>Collection</strong> <br /><br />We will collect all the
                items right at your doorstep.
              </p>
            </div>
            <div>
              <p>
                <strong>Processing Factories</strong> <br /><br />Items will be
                sorted and sent to respective processing plants.
              </p>
            </div>
            <div>
              <p>
                <strong>Re-purposed</strong> <br /><br />Processed materials
                will be repurposed.
              </p>
            </div>
          </div>
          <!-- End of details-right -->
        </section>
        <!-- End of First Panel section-2-->
      </div>

      <!-- End of Content Container -->
    </div>
    <!-- End of First Panel -->

    <!-- Footer -->
    <div class="footer">
      <div class="footer-wrapper">
        <!-- footer first column -->
        <div class="footer-first-column">
          <!-- Company Logo -->
          <img class="company-logo-2" src="/company-logo.png" alt="logo-pic" />
          <!-- End of Company Logo -->
          <p>To a more sustainable world</p>
          <p>
            3 Alpine Woods <br />
            Singapore 888888
          </p>
          <p>Follow us and keep updated</p>
          <!-- Add font awesome icons -->
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-twitter"></a>
          <!-- End of footer first column -->
        </div>

        <!-- footer second column -->
        <div class="footer-second-column">
          <p><strong>About</strong></p>
          <a href="#">About Us</a> <br />
          <a href="#">Locations</a>
          <!-- End of footer second column -->
        </div>

        <!-- footer third column -->
        <div class="footer-third-column">
          <p><strong>User</strong></p>
          <a href="#">What's New</a> <br />
          <a href="#">Recycle</a> <br />
          <a href="#">Shop</a>
          <!-- End of footer third column -->
        </div>

        <!-- footer fourth column -->
        <div class="footer-fourth-column">
          <p><strong>Enterprise</strong></p>
          <a href="#">Partner with us</a>
          <!-- End of footer fourth column -->
        </div>
        <!-- End of Footer wrapper-->
      </div>

      <!-- last bar -->
      <div class="footer-final">
        <a class="terms" href="#">Terms and policies</a>

        <div class="copyright">XXX 2022</div>
        <div class="app-store-stuff">
          <a href="#">
            <img class="google-play" src="/google-play.png" />
          </a>
          <a href="#">
            <img class="apple-store" src="/apple-store.jpg" />
          </a>
        </div>
        <!-- end of last bar -->
      </div>
      <!-- End of Footer -->
    </div>

    <!-- Add icon library for social media icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </body>
</html>
