<%- include('nav'); -%>

<!--container for video-->
<!-- video-container is necessary because I intend to cut the video's height -->
<div class="video-container">
  <video
    src="/company-video.mp4"
    type="video/mp4"
    class="myvideo"
    autoplay=""
    loop=""
    muted=""
  ></video>
  <div class="video-text-box">
    <h1>Recycle. Make your world a better place.</h1>
  </div>
</div>
<!--End of container for video-->

<!-- Banners -->
<div class="banners">
  <a class="banner-1" href="" role="button"> Read About Us</a>
  <a class="banner-2" href="" role="button"> Download App</a>
</div>
<!-- End of Banners -->

<!-- Content Container -->
<div class="content-container">
  <!-- Section 1 -->
  <section class="section-1">
    <div class="info">
      <h2>
        From recycling and disposal services to earning opportunities. We're an
        all-in-one platform.
      </h2>
    </div>
    <button class="recycle" onclick="myFunction1()" href="">Recycle</button>
    <button class="disposal" onclick="myFunction2()" href="">Disposal</button>
    <button class="re-sell" onclick="myFunction3()" href="">Re-Sell</button>
  </section>
  <!-- End of Section 1 -->

  <!-- First Panel -->
  <div class="first-panel">
    <!-- First Panel section-1-->
    <section class="first-panel-section-1">
      <!-- title-left -->
      <div class="title-left">
        <h2>Recycle</h2>
      </div>
      <!-- End of title-left -->
      <!-- details-right -->
      <div class="details-right">
        <div>
          <p>
            <strong>Collection</strong> <br /><br />We will collect all the
            items right at your doorstep.
          </p>
        </div>
        <div>
          <p>
            <strong>Processing Factories</strong> <br /><br />Items will be
            sorted and sent to respective processing plants.
          </p>
        </div>
        <div>
          <p>
            <strong>Re-purposed</strong> <br /><br />Processed materials will be
            repurposed.
          </p>
        </div>
      </div>
      <!-- End of details-right -->
    </section>
    <!-- End of First Panel section-1-->

    <!-- First Panel section-2-->
    <section class="first-panel-section-2">
      <!-- title-left -->
      <div class="title-left">
        <h2>Recycle</h2>
      </div>
      <!-- End of title-left -->
      <!-- details-right -->
      <div class="details-right">
        <div>
          <p>
            <strong>Collection</strong> <br /><br />We will collect all the
            items right at your doorstep.
          </p>
        </div>
        <div>
          <p>
            <strong>Processing Factories</strong> <br /><br />Items will be
            sorted and sent to respective processing plants.
          </p>
        </div>
        <div>
          <p>
            <strong>Re-purposed</strong> <br /><br />Processed materials will be
            repurposed.
          </p>
        </div>
      </div>
      <!-- End of details-right -->
    </section>
    <!-- End of First Panel section-2-->
  </div>

  <!-- End of Content Container -->
</div>
<!-- End of First Panel -->

<%- include('footer'); -%>
