<%- include('nav'); -%>

    <div class="d-flex justify-content-center mt-5 mb-5">
      <form action="/login" method="POST">
        <label for="email">Login with your Email:</label>
        <input type="text" id="email" name="email" />
        <label for="password">Login with your Password:</label>
        <input type="password" id="password" name="password" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>

<%- include('footer'); -%>