<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Convergence&family=Lato:wght@300;400;700;900&family=Mukta:wght@300;400;600;700;800&family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>TRASH ME</title>
  </head>
  <body>
    <!--Nav bar-->
    <nav class="navbar">
      <div class="elements-in-nav">
        <!-- Menu -->
        <button class="dropbtn" onclick="myFunction()">
          <div class="menu-bar1"></div>
          <div class="menu-bar2"></div>
          <div class="menu-bar3"></div>
          Menu
        </button>
        <div class="dropdown-content" id="myDropdown">
          <button class="about" onclick="myFunction1()" href="">About</button>
          <button class="enterprise" onclick="myFunction2()" href="">
            Enterprise
          </button>
          <button class="user" onclick="myFunction3()" href="">User</button>
        </div>
        <!-- End of Menu -->
        <!-- Company Logo -->
        <img class="company-logo" src="/company-logo.png" alt="logo-pic" />
        <!-- End of Company Logo -->
        <!-- links -->
        <a class="sign-up" href="http://localhost:3004/login-sign-up">
          Login/Sign-up</a
        >
        <a class="help-center" href="http://localhost:3004/help">
          Help Centre
        </a>
      </div>
      <!-- end of nav bar -->
    </nav>

    <script>
      /* When the user clicks on the button, 
      toggle between hiding and showing the dropdown content */
      function myFunction() {
        // adds and removes "show" class each time the dropdown menu button is clicked
        document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function (e) {
        // if the click does not match the class of "dropbtn" i.e., dropdown menu button, then
        // when dropbtn contains "show" class, removes it
        if (!e.target.matches(".dropbtn")) {
          const myDropdown = document.getElementById("myDropdown");
          if (myDropdown.classList.contains("show")) {
            myDropdown.classList.remove("show");
          }
        }
      };
    </script>
  </body>
</html>
