<%- include('nav'); -%>

    <div class="d-flex justify-content-center mt-5 mb-5">
      <form action="/signup" method="POST">
        <label for="email">Input your Email:</label>
        <input type="text" id="email" name="email" />
        <label for="password">Input your Password:</label>
        <input type="password" id="password" name="password" />
        <label for="username">Input your Username:</label>
        <input type="text" id="username" name="username" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>


<%- include('footer'); -%>
