body {
  background: white;
  margin: 0px;
  font-family: "Convergence", sans-serif;
}

.navbar {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 69px;
  display: flex;
  justify-content: center;
}

.elements-in-nav {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  position: relative;
}

.dropbtn {
  cursor: pointer;
  background-color: inherit;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 12px;
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
  cursor: pointer;
  width: 23px;
  height: 3px;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
  top: 69px;
  z-index: 1;
}

.show {
  display: block;
}

.about,
.enterprise,
.user {
  cursor: pointer;
  height: 80px;
  width: 250px;
  font-size: 15px;
  border-top-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-left-color: initial;
  display: flex;
  align-items: center;
  padding-left: 55px;
  background: white;
  border-width: 0px 1px 1px 0px;
  border-image: initial;
  border-bottom: 1px solid rgb(246, 248, 250);
  border-right: 1px solid rgb(246, 248, 250);
}

.company-logo {
  height: 50px;
  margin-left: 20px;
  margin-bottom: -10px;
  margin-top: -10px;
}

.navbar a {
  font-size: 16px;
  color: black;
  text-align: center;
  background-color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.login-sign-up {
  margin-left: auto;
}

.video-container {
  height: 700px;
  overflow: hidden;
}

.myvideo {
  box-sizing: border-box;
  width: 100%;
}

.video-text-box {
  position: absolute;
  top: 550px;
  left: 0px;
  font-size: 36px;
  padding-left: max(78px, 48px);
  color: white;
}

.banner-1 {
  font-size: 20px;
  color: white;
  display: block;
  padding: 30px 0px 30px max(78px, 48px);
  background: rgb(12, 12, 59);
  text-decoration: none;
}

.banner-2 {
  font-size: 20px;
  color: white;
  display: block;
  padding: 30px 0px 30px max(78px, 48px);
  background: black;
  text-decoration: none;
}

.content-container {
  height: 1000px;
  width: 100%;
}

.section-1 {
  width: 60%;
  height: 40%;
  margin: auto;
  border-bottom: solid grey;
}

.info {
  padding-top: 80px;
  padding-bottom: 50px;
  width: 50%;
}

.recycle,
.disposal,
.re-sell {
  color: white;
  width: 200px;
  border-radius: 25px;
  background: black;
  padding: 20px;
}

.first-panel-section-1,
.first-panel-section-2 {
  width: 60%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid grey;
  margin: auto;
}

.footer {
  height: 400px;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  background-color: rgb(234, 239, 242);
  height: 300px;
  justify-content: space-evenly;
}

.footer-final {
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(54, 58, 69);
}

.company-logo-2 {
  height: 20%;
}

.fa-facebook {
  width: 15px;
  text-align: center;
  color: white;
  background: rgb(59, 89, 152);
}

.fa-instagram {
  width: 15px;
  text-align: center;
  color: white;
  background: rgb(18, 86, 136);
}

.fa-twitter {
  width: 15px;
  text-align: center;
  color: white;
  background: rgb(85, 172, 238);
}

.footer-second-column a,
.footer-third-column a,
.footer-fourth-column a {
  text-decoration: none;
}

.terms {
  color: white;
  text-decoration: none;
}

.google-play {
  height: 80px;
}

.apple-store {
  height: 52px;
  margin-bottom: 15px;
}

/* signup form css */

.form-banner {
  background: #060b23;
  height: 400px;
  overflow: hidden;
}

.form-banner-text {
  font-size: 36px;
  padding-left: max(78px, 48px);
  color: white;
}

.login-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

.login-form-container {
  border-radius: 5px;
  background-color: #060b23;
  padding: 80px;
  text-align: center;
  width: 400px;
  /* display: flex;
  justify-content: center; */
}

.login-button {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  margin: auto;
  width: 63%;
  padding: 10px;
  border-radius: 5px;
  font: inherit;
}

.forgot-password {
  color: white;
  padding-bottom: 25px;
  /* has to be a div for a border */
  border-bottom: solid white;
}

.forgot-password a {
  color: white;
  text-decoration: none;
}

.create-account-button {
  display: block;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  font: inherit;
  /* margin auto first to center horizontally */
  margin: auto;
  margin-top: 30px;
}

.login-signup-page {
  position: relative;
}

.sign-up-form {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.sign-up-form-container {
  text-align: center;
  width: 50%;
  background: #060b23;
  color: white;
  border-radius: 4px;
  position: relative;
}

#name,
#mobile,
#email,
#street,
#block,
#unit,
#postal,
#password {
  display: block;
  /* height of each field */
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  margin: auto;
  /* adding space between each field */
  margin-bottom: 5px;
  text-align: center;
  border: solid #e1e5ee;
  border-radius: 5px;
  font-family: inherit;
  background: none;
  color: white;
}

#name:hover,
#mobile:hover,
#email:hover,
#street:hover,
#block:hover,
#unit:hover,
#postal:hover,
#password:hover {
  border: solid #adffff;
}

.terms-conditions {
  text-decoration: none;
  color: white;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.submit-button {
  display: block;
  width: 10%;
  padding: 10px;
  border-radius: 5px;
  font: inherit;
  /* margin auto first to center horizontally */
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* error-login page */

.error-login-message {
  color: red;
  width: 100%;
}

.find-account {
  color: red;
}
